alembic==1.0.0
asn1crypto==0.24.0
Babel==2.3.4
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
Beaker==1.11.0
beautifulsoup4==4.8.2
bleach==3.0.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
configparser==4.0.2
cryptography==2.1.4
decorator==4.4.1
dnspython==1.15.0
dominate==2.4.0
enum34==1.1.6
fanstatic==1.1
feedgen==0.9.0
Flask==1.1.1
Flask-Babel==0.11.2
flask-multistatic==1.0
FormEncode==1.3.0
funcsigs==1.0.2
idna==2.8
ipaddress==1.0.17
ipython==5.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
lxml==4.4.2
Mako==1.1.0
Markdown==2.6.7
MarkupSafe==1.1.1
nose==1.3.7
passlib==1.6.5
Paste==2.0.3
PasteDeploy==2.0.1
PasteScript==2.0.2
pathlib2==2.3.0
pbr==5.4.4
pexpect==4.2.1
pickleshare==0.7.4
polib==1.0.7
prompt-toolkit==1.0.15
psycopg2==2.8.2
pycrypto==2.6.1
Pygments==2.5.2
pygobject==3.26.1
Pylons==1.0.3
pyOpenSSL==17.5.0
pysolr==3.6.0
python-dateutil==2.8.1
python-editor==1.0.4
python-magic==0.4.15
python-openid==2.2.5
pytz==2016.7
PyUtilib==5.7.1
pyxdg==0.25
PyYAML==5.1.2
redis==3.3.11
repoze.lru==0.7
repoze.who==2.3
requests==2.22.0
Routes==2.4.1
rq==1.0
scandir==1.7
scgi==1.13
SecretStorage==2.3.1
shutilwhich==1.1.0
simplegeneric==0.8.1
simplejson==3.10.0
six==1.14.0
soupsieve==1.9.5
SQLAlchemy==1.3.13
sqlalchemy-migrate==0.12.0
sqlparse==0.2.2
Tempita==0.5.2
traitlets==4.3.2
tzlocal==1.3
unicodecsv==0.14.1
urllib3==1.25.7
waitress==1.4.3
wcwidth==0.1.7
webassets==0.12.1
webencodings==0.5.1
WebError==0.13.1
WebHelpers==1.3
WebOb==1.8.5
WebTest==2.0.34
Werkzeug==0.15.5
zope.interface==4.3.2
